<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
		<meta name="robots" content="all">
		<meta name="author" content="SEBASTI THOMAS">
		<meta name="description" content="Je m'appelle SEBASTI Thomas, un développeur web junior passionné par l'informatique et les nouvelles technologies. Actuellement à la recherche d'une alternance dans 12 mois pour devenir Concepteur développeur d'applications. Découvrez mes projets et compétences en développement front-end et back-end dans mon portfolio.">
		<meta name="Keywords" content="portfolio, sebasti, thomas, developpeur, web, javascript, php, Node.Js, aix en provence, Marseille, Informatique, Aubagne, Ri7">
		<meta name="google-site-verification" content="8XPRanyleKFYncj6P7pPQyFUFbNI2-68eMG-wSUoPLo"/>
		{% block head %}{% endblock %}
		<title>{% block title %}Mon Portfolio{% endblock %}</title>
	</head>
	<body>
		{% block header %}{% endblock %}

		{% block content %}{% endblock %}

		{% block footer %}{% endblock %}

		{% block script %}{% endblock %}
	</body>
</html>
