{% extends '/layouts/base.twig' %}

{% block head %}
	<link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block title %}
	Login
{% endblock %}

{% block header %}
	<header class='header'>
		<div class="logo">
			<a href="/login" class="secret-login"><img src="/img/logo-portfolio.png" alt="logo"></a>
			<h1>Thomas Sebasti</h1>
		</div>

		<nav>
			<ul>
				<li><a href="/home" style="--i:1;" class="active">Accueil</a></li>
			</ul>
		</nav>
	</header>
{% endblock %}

{% block content %}
	<form class="login-form" method="POST" action="/login">
		<h1 class="login-title">Connexion</h1>
		<div class="form-group">
			<label for="email" class="form-label">Adresse email</label>
			<input type="email" id="email" name="email" class="form-control" required>
			<div class="error">{{error.email}}</div>
		</div>

		<div class="form-group">
			<label for="password" class="form-label">Mot de passe</label>
			<input type="password" id="password" name="password" class="form-control" required>
			<div class="error">{{error.password}}</div>
		</div>

		<button type="submit" class="btn btn-primary">Se connecter</button>
	</form>
{% endblock %}

{% block script %}
	<script src="/js/main.js"></script>
{% endblock %}